.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subproducts {
  justify-content: center;
}
.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding-right: 30px; /* Adjust margin between nav items */
  position: relative; /* Added position relative */
}

.nav-link {
  color: #706d6e;
  text-decoration: none;
  font-weight: 300;
  position: relative; /* Added position relative */
  border-bottom: 0.0625rem solid transparent;
}
