/* wishlist.component.scss */

.wishlist-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 100%; /* Adjust as needed */
}

.wishlist-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* wishlist.component.scss */

.wishlist-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Start from the beginning */
  gap: 10px; /* Adjust the gap between items */
}

.wishlist-item {
  width: calc(25% - 5px); /* Adjust the width and gap as needed */
  margin-bottom: 16px;
  box-sizing: border-box;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .wishlist-item {
    width: calc(50% - 5px); /* Adjust width and gap as needed */
  }
}
